*{
    box-sizing: border-box;
}

body {
    background-color: #1B263B;
}

.tablero {
    justify-content: center;
    flex-wrap: wrap;
}

.carta {
    margin: 8px;
    background-color: #8e7dbe;
    width: 115px;
    height: 150px;
    border-radius: 10px;
}

