#logo-web {
    width: 12%;
}

#logo-footer {
    width: 80%;
}

#menu-links {
    align-items: center;
}

ul li a{
    font-size: 25px;
}


.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .nav-link {}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}