/* #slider-principal, .carousel-item img{
    margin: 0 auto;
    height: 65vh !important;
} */

/* #slider-principal,*/
.carousel-item img {
    height: auto;
    width: 100%;
}

#texto-medio {
    /* top: 50%;
    transform: translateY(-50%); */
    /* bottom: 16.25rem; */
    top: 45%;
    padding: 0;
}

#alineacion-img {
    text-align: center;
    align-items: center;
}

#alineacion-img2 {
    text-align: center;
    align-items: center;
    display: none !important;
}

ul li a {
    font-size: 25px;
}

ul li img {
    width: 30px;
}

.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

#f1 img {
    width: 60%;
}

#offcanvasRight {
    width: 50% !important;
    background-color: #0b0a0a;
}

.offcanvas-header .btn-close {
    margin-right: 0rem;
}

#btn-offcanvas {
    font-size: 2.8rem;
    text-align: end;
}

#menu-offCanvas a {
    font-size: 1.6rem;
}

@media screen and (min-width: 1200px) {

    .carousel-item,
    .carousel-item img {
        height: 65vh;
    }

    .carousel-caption h3 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1024px) {
    #header-normal {
        display: none !important;
    }

    #alineacion-img2 {
        display: flex !important;
    }

    #f1 img {
        width: 40% !important;
    }
}