#logo-web {
    width: 65%;
}

#logo-offCanvas {
    width: 50%;
}

#menu-links {
    align-items: center;
}

#menu-offCanvas {
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* #slider-principal, .carousel-item img{
    margin: 0 auto;
    height: 65vh !important;
} */

/* #slider-principal,*/
.carousel-item img {
    height: auto;
    width: 100%;
}

#texto-medio {
    /* top: 50%;
    transform: translateY(-50%); */
    bottom: 16.25rem;
}

#alineacion-img {
    text-align: center;
    align-items: center;
}

ul li a {
    font-size: 25px;
}

ul li img {
    width: 30px;
}

.navbar .nav-item .dropdown-menu {
    display: none;
}

.navbar .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar .nav-item .dropdown-menu {
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none !important;
}

#f1 img {
    width: 60%;
}

#offcanvasRight {
    width: 50% !important;
}

.offcanvas-header .btn-close {
    margin-right: 0rem;
}

#btn-offcanvas {
    font-size: 2.8rem;
    text-align: end;
}

#menu-offCanvas a {
    font-size: 1.6rem;
}

@media screen and (min-width: 1200px) {

    .carousel-item,
    .carousel-item img {
        height: 65vh;
    }
    
    .carousel-caption h3 {
        font-size: 4rem;
    }
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: rgb(180, 180, 180);
    text-decoration: none;
    color: #555;
  }

  .fondo-aboutUs {
      background-color: #1B263B;
  }

  .fondoCards {
      background-color: #E0E1DD;
  }

  .colorLetra {
      color: #E0E1DD;
  }

  .nombres {
      color: #1B263B !important;
  }